<div>
 <center><h1>Pet Shop Inventory</h1></center>
</div>

<center><h2>Summary</h2></center>

<p>
<h4>For sale:</h4>
    <strong>Number of Dogs:</strong>
    <%= @animal = Animal.count %>
    <br><strong>Number of Cats:</strong>
    <%= @animal = Animal.count %>
</p>

<p>
<h4>Sold:</h4>
    <strong>Number of Dogs:</strong>
    <%= @animal = Animal.count %>
    <br><strong>Number of Cats:</strong>
    <%= @animal = Animal.count %>
</p>
<br>
<p>
<strong>Total Amount Received From Sales:</strong>
    <%= @animal = Animal.count %>
</p>

<%= link_to 'Back', animals_path %>